// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

h1 {
  font-family: "Arial";
}

div {
  width: 500px;
  border-left-style: solid;
  border-left-color: coral;
  p {
    margin-left: 8px;
  }
}

.highlight-background {
  background-color: #0aff0a;
}
